.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.auth__signup-button {
  background: transparent;
  color: black;
  margin-left: 1rem;
}

.auth__avatar-image {
  display: none;
}

@media (min-height: 728px) {
  .auth__avatar-image {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
  }
}
