.profile-container {
  width: 90%;
  max-width: 25rem;
  margin: auto;
  text-align: center;
}

.profile-submit {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
}

.profile-button {
  background-color: #009900;
  border: 1px solid #009900;
}

.profile-button:hover {
  background-color: #007f00;
  border: 1px solid #009900;
}
